body{
  margin:0;
  background-color: #0c0e0f;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

header {
  background-color: #000;
  padding: 20px;
  border-bottom: 2px solid #00c6ff;
  display: flex;
  align-items: center;
  justify-content: center;

}
.header-title {
  color: #00c6ff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 198, 255, 0.5);

}


h1{
  color: #00c6ff;
  font-size: 75px;
}
.intro{
  margin: 30px;
  display:flex;
  justify-content: space-around;
  align-items: center;

}
.intro h2{
  width: 600px;
}

.card {
  position: relative;
  width: 30vw;
  /* height: 50vh; */
  padding:10px;
  background: linear-gradient(315deg,#26778d,#09a0ca);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border: 8px solid #00c6ff;
  border-radius: 10px;
  box-shadow: #00c6ff 0px 0px 50px;
}
.inputBox{
  width: 80%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

input{
  font-family: 'Montserrat', sans-serif;
  
  /* width: 100%; */
  padding: 10px;
  /* margin: 10px; */
  border-radius: 5px;
  border: 1px solid #00c6ff;
  background-color: #0c0e0f;
  color: #ffffff;
}
input::file-selector-button{
  font-family: 'Montserrat', sans-serif;

  width: 50%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #00c6ff;
  background-color: #0c0e0f;
  color: #ffffff;
  cursor:pointer;
}
select{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 10px;
  /* margin: 10px; */
  border-radius: 5px;
  border: 1px solid #00c6ff;
  background-color: #0c0e0f;
  color: #ffffff;
}
/* select::selection{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #00c6ff;
  background-color: #0c0e0f;
  color: #ffffff;
} */
button{
  font-family: 'Montserrat', sans-serif;
  /* width: 100%; */
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #00c6ff;
  background-color: #0c0e0f;
  color: #ffffff;
  cursor:pointer;
}

@media screen and (max-width: 950px){
  .card{
    width: 80vw;
    margin-bottom: 20px;
  }
  .intro{
    flex-direction: column;

  }
  h1{
    text-align: center;
    font-size: 50px;
  }
  h2{
    text-align: center;
    font-size: 20px;
    margin-left: 10px;
  }

  
}
.camera-icon {
  margin-top: 50px;

  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
  animation: pulseScale 2s infinite alternate; /* Animação de pulso sutil */
}

.camera-icon::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  border: 2px solid #00c6ff;
  opacity: 1; /* Sempre visível */
  animation: neonBorder 1.5s linear infinite;
}

@keyframes neonBorder {
  0% {
    box-shadow: 0 0 5px #00c6ff, 0 0 10px #40c9ff, 0 0 15px #40c9ff;
  }
  50% {
    box-shadow: 0 0 10px #00c6ff, 0 0 20px #40c9ff, 0 0 30px #40c9ff;
  }
  100% {
    box-shadow: 0 0 5px #00c6ff, 0 0 10px #40c9ff, 0 0 15px #40c9ff;
  }
}

@keyframes pulseScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

